{% extends "base.html" %}

{% block content %}



<div class="card">
    <div class="card-header">
      <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>R.A.</th>
          <th>Responsável</th>
          <th>Turma</th>
        </tr>
        </thead>
        <tbody>
        {% for aluno in object_list %}
        <tr>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.email}}
          </td>
          <td>{{aluno.telefone}}</td>
          <td>{{aluno.ra}}</td>
          <td>{{aluno.responsavel}}</td>
          <td>{{aluno.turma}}</td>
        </tr>
        {% endfor %}


{% endblock %}
